<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673457383890-7gmg1qrgddneksb70ck6oohsbdbqcfvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673457383890-7gmg1qrgddneksb70ck6oohsbdbqcfvf</string>
	<key>API_KEY</key>
	<string>AIzaSyDwWluC2EmcsTZK-3GlQz8PLGj5SLc-NU8</string>
	<key>GCM_SENDER_ID</key>
	<string>673457383890</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muctech.notifications</string>
	<key>PROJECT_ID</key>
	<string>muctech-notifications</string>
	<key>STORAGE_BUCKET</key>
	<string>muctech-notifications.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:673457383890:ios:330358595ef2397b77c00b</string>
</dict>
</plist>